@{
    ViewBag.Title = "RegionProductData";
}

<h2>Region Product Data</h2>
@if(ViewBag.HasData)
{
    foreach (var regionalevent in ViewBag.RegionalEvents)
    {
        <h3><font color="red">Event: @regionalevent.EventHeadline, Severity level @regionalevent.Severity</font></h3>
    }

    <table>
    <tr><td>Day Count</td><td>Avg # Orders</td><td>Avg Price</td></tr>

    @foreach(var movingAverage in ViewBag.MovingAverages)
    {
        <tr><td>@movingAverage.Days</td><td>@movingAverage.Orders</td><td>@movingAverage.Price</td></tr>
    }
    </table>

    <h2>Pricing</h2>
    <h3>Five Day Moving Average Price: <font color="green">@ViewBag.FiveDayPrice</font></h3>

    if(ViewBag.DemandSurgePrice > ViewBag.FiveDayprice)
    {
        <h3>2-5 Day Surge Price: <font color="red">@ViewBag.DemandSurgePrice</font></h3>
    }
    
    if (ViewBag.BreakoutPrice > ViewBag.FiveDayPrice)
    {
        <h3>5-200 Day Breakout price: <font color="red">@ViewBag.BreakoutPrice</font></h3>
    }

    if (ViewBag.EventSurgePrice > ViewBag.FiveDayprice)
    {
        <h3>Event adjusted price: <font color="red">@ViewBag.EventSurgePrice</font></h3>
    }   
    <hr />
    <h4>Price determinations:</h4>
    <ul>
        <li>If the 2 day moving average number of orders breaks above the 10 day moving average number of orders, this is considered a basic price surge. We increase the suggested price by a factor of the percentage difference from the 5-day average, and add an additional 5%.</li>
        <li>If the 5 day moving average price breaks above the 200 day moving average price, this means a major price breakout is imminent or occurring. We increase the suggested price by a factor of 30% from the 5-day average</li>
        <li>For each active event surrounding this region, we add 10 * severity level % (e.g. severity 1 adds 10%) to 5-day moving average price.</li>
    </ul>
}
else
{
    <br /><br />
    <div>
        There are no orders for @ViewBag.Product.ProductName in @ViewBag.Region.Name yet.<br /><br />
        <a href="/Region/Details/@ViewBag.Region.RegionId">Back to @ViewBag.Region.Name ..</a>
    </div>
}